/vendor/
/node_modules/
/.env
/.env.backup
/.phpunit.result.cache
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php
!storage/framework/sessions/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/views/.gitkeep
